body{
      background: #a88080;
  background: linear-gradient(
    90deg,
    rgba(168, 128, 128, 1) 64%,
    rgba(206, 219, 211, 1) 100%,
    rgba(255, 251, 122, 1) 0%
  );
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}